{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
	<div class="paginador">
	 	{{ if $pag.HasPrev }}
      	<!--<div class="pag-elem"><a href="{{ $pag.Prev.URL }}" rel="prev">Notas recientes</a></div>-->
      	<a class="pag-elem" href="{{ $pag.Prev.URL }}" rel="prev">Notas recientes</a>
      {{ end }}
      {{ if $pag.HasNext }}
      	<!--<div class="pag-elem" id="pag-next"><a href="{{ $pag.Next.URL }}" rel="next">Notas anteriores</a></div>-->
      	<a class="pag-elem" id="nextero" href="{{ $pag.Next.URL }}" rel="next">Notas antiguas</a>
      {{ end }}
	</div>
{{ end }}